.property-search-title {
  font-weight: bold;
  margin-left: 15vw;
  font-size: 3vh;
  padding-bottom: 3vh;
}

.property-search-subtitle {
  margin-left: 15vw;
  font-size: 3vh;
  padding-bottom: 3vh;
}

.property-search-contents {
  text-align: center;
}

.search-field {
  padding: 2vh 0;
}

.search-field>label {
  font-size: 18px;
  font-weight: bold;
}

.property-search-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.property-search-lists>.list {
  width: 33vh;
  padding-top: 5vh;
  background-color: #FFF;
}